.content{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: 'DAYROM';
}

.page{
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: 'DAYROM';
  src: url('fonts/DAYROM.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

